
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Telemetry/Telemetry.json
Saved/webcache_4430/Cache/data_0
Saved/webcache_4430/Cache/data_1
Saved/webcache_4430/Cache/data_2
Saved/webcache_4430/Cache/data_3
Saved/webcache_4430/Cache/index
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.log
*.tmp
*.bak
